<form action="/dash/add" method='post'>

  <select>
    <% @categories.each do |category|  %>
    <option name='<%=category.id%>' value='<%= category.id %>'><%= category.category_name %></option>
    <% end %>
  </select>
  <input type="text" name='product_name' placeholder="product name">
  <input type="text" name='product_description' placeholder="product description">
  <input type="text" name='product_number' placeholder="product number">
  <input type="text" name='product_vendor' placeholder="product vendor">
  <input type="text" name='unit_price' placeholder="unit price">
  <input type="text" name='product_image' placeholder="product img url">
  <input type="submit" value="add item!">


</form>
