<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>nucleus</title>
    <link rel="stylesheet" href="./main.css">
  </head>
  <body>
        <% if session[:current_user] %>

        <h1>Hello, <%= session[:current_user].user_name %> <span><a href="/logout">Logout</a></span></h1>


        <% else %>
          <p>Hello, Guest! Please login or create an account!</p>
          <a href="/login">Login</a>
          <a href="/login/register">Register</a>
        <% end %>
    <%=yield%>
  </body>
</html>
