<p>this is the locations page</p>

<form action="/locations" method='post'>
  <input type="text" name='location_name' placeholder='location name'>
  <input type="text" name='location_desc' placeholder='location description'>
  <input type="text" name='location_image' placeholder='location image'>
  <input type="text" name='sub_location' placeholder='location sub location'>
  <input type="submit" value='create new location!'>
</form>
