<body class="dual-sidebar">

<div id="preloader">
	<div id="status">
        <div class="preloader-logo"></div>
        <h3 class="center-text">Welcome</h3>
        <p class="center-text smaller-text">
            We're loading the content, give us a second. This won't take long!
        </p>
    </div>
</div>

<div class="gallery-fix"></div> <!-- Important for all pages that have galleries or portfolios -->

<div class="all-elements">
    <div class="snap-drawers">
        <div id="content" class="snap-content">
            <div class="pageapp-login bg-5 cover-screen">
                <div class="pageapp-login-content cover-center">
                    <div class="boxed-layout">
                        <a class="pageapp-login-logo" href="#"></a>
                        <form action="/login" method="post">
                          <h3 class="center"><%= @message %></h3>
                        <div class="pageapp-login-field">
                            <i class="fa fa-user"></i>
                            <input type="text" value="Username" onfocus="if (this.value=='Username') this.value = ''" onblur="if (this.value=='') this.value = 'Username'" name="user_name">
                        </div>
                        <div class="pageapp-login-field">
                            <i class="fa fa-lock"></i>
                            <input type="password" value="password" onfocus="if (this.value=='password') this.value = ''" onblur="if (this.value=='') this.value = 'password'" name="password">
                        </div>
                        <input type="submit" class="pageapp-login-button button button-small button-green button-fullscreen" value="Login">
                      </form>
                    </div>
                </div>
                <div class="overlay bg-black"></div>
            </div>
        </div>
    </div>
    <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to top</a>
</div>

<!--Fly up share box and notifications go here -->
<!--These are the only features that should be placed outside the all-elements class-->


<div class="top-notification-1 top-notification bg-blue-dark">
    <h4>Did you know?</h4>
    <p>
        Easy way to make sure your messages get read!
    </p>
    <a href="#" class="close-top-notification"><i class="fa fa-times"></i></a>
</div>
<div class="bottom-notification-1 bottom-notification bg-green-dark">
    <h4>Did you know?</h4>
    <p>
        Easy way to make sure your messages get read!
    </p>
    <a href="#" class="close-bottom-notification"><i class="fa fa-times"></i></a>
</div>
<div class="bottom-notification-2 bottom-notification bg-orange-dark timeout-notification">
    <h4>Timeout: 5 Seconds</h4>
    <p>
        I'll go away on my own after a few seconds!
    </p>
</div>
<div class="top-notification-2 top-notification bg-red-dark timeout-notification">
    <h4>Timeout: 5 Seconds</h4>
    <p>
        I'll go away on my own after a few seconds!
    </p>
</div>

</body>
