<body class="dual-sidebar">

<div id="preloader">
	<div id="status">
        <div class="preloader-logo"></div>

        <p class="center-text smaller-text">
            We're loading the content, give us a second. This won't take long!
        </p>
    </div>
</div>

<div class="gallery-fix"></div> <!-- Important for all pages that have galleries or portfolios -->

<div class="all-elements">
    <div class="snap-drawers">
        <div id="content" class="snap-content">
          <div class="error-page bg-5 cover-screen">
              <div class="error-content cover-center">
                  <div class="boxed-layout">
                      <h3>Not Authorized</h3>
                      <h4>You must be signed in to view this page.</h4>
                      <a href="/" class="back-home"><i class="fa fa-home"></i></a>
                  </div>
              </div>
              <div class="overlay bg-black"></div>
          </div>
        </div>
    </div>
    <a href="#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to top</a>
</div>

<!--Fly up share box and notifications go here -->
<!--These are the only features that should be placed outside the all-elements class-->


<div class="top-notification-1 top-notification bg-blue-dark">
    <h4>Did you know?</h4>
    <p>
        Easy way to make sure your messages get read!
    </p>
    <a href="#" class="close-top-notification"><i class="fa fa-times"></i></a>
</div>
<div class="bottom-notification-1 bottom-notification bg-green-dark">
    <h4>Did you know?</h4>
    <p>
        Easy way to make sure your messages get read!
    </p>
    <a href="#" class="close-bottom-notification"><i class="fa fa-times"></i></a>
</div>
<div class="bottom-notification-2 bottom-notification bg-orange-dark timeout-notification">
    <h4>Timeout: 5 Seconds</h4>
    <p>
        I'll go away on my own after a few seconds!
    </p>
</div>
<div class="top-notification-2 top-notification bg-red-dark timeout-notification">
    <h4>Timeout: 5 Seconds</h4>
    <p>
        I'll go away on my own after a few seconds!
    </p>
</div>


<script>
window.setTimeout(function() {
    window.location.href = '/login';
}, 1500);
</script>
</body>
