<form action="/confirmation" method="post">
<div class="pageapp-signup-field">
    <i class="fa fa-star"></i>
    <input onfocus="if (this.value=='Username') this.value = ''" onblur="if (this.value=='') this.value = 'Username'" type="text" value="Username" name="user_name">
</div>
<div class="pageapp-signup-field">
    <i class="fa fa-lock"></i>
    <input onfocus="if (this.value=='password') this.value = ''" onblur="if (this.value=='') this.value = 'password'" type="password" value="password" name="password">
</div>
<div class="pageapp-signup-field">
    <i class="fa fa-user"></i>
    <input onfocus="if (this.value=='Name') this.value = ''" onblur="if (this.value=='') this.value = 'Name'" type="text" value="Name" name="name">
</div>
<div class="pageapp-signup-field">
    <i class="fa fa-phone"></i>
    <input onfocus="if (this.value=='Phone') this.value = ''" onblur="if (this.value=='') this.value = 'Phone'" type="text" value="Phone" name="phone">
</div>
<div class="pageapp-signup-field">
    <i class="fa fa-envelope"></i>
    <input onfocus="if (this.value=='Email Address') this.value = ''" onblur="if (this.value=='') this.value = 'Email Address'" type="email" value="Email Address" name="email">
</div>
<input type="submit" class="pageapp-signup-button button button-small button-blue button-fullscreen" value="Register">
</form>
